<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Mensagem vinda do formulário de contato (Veículos)</h3>
    <p>
        <strong>Nome:</strong> <%= @nome %><br>
        <strong>E-mail para resposta:</strong> <%= @email %><br>
        <strong>Telefone:</strong> <%= @telefone %><br>
    </p>
    <p>
        <%= @mensagem %>
    </p>

  </body>
</html>