<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Sua senha</h3>
    <p>
        Nome: <%= @usuario.nome %><br>
        Usuário: <%= @usuario.email %><br>
        Senha: <%= @usuario.password %><br>
    </p>

  </body>
</html>