<div class="title col-md-12 bg-secondary">
    <div class="row text-center text-white">
        <div class="col-md-12">
            <h3 class="text-uppercase">Conheça nossa história</h3>
            <hr class="divider"></hr>
        </div>
    </div> 
</div>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            A Central de Veículos foi fundada em julho de 1985, através de uma parceria familiar que apostava em uma loja de carros seminovos. Na época, foi a primeira empresa familiar, do ramo, na região de Santa Rosa.
Desde a sua fundação, a Central de Veículos apresenta crescimento contínuo, graças a sua tecnologia de inovação da frota, qualidade, confiabilidade, atendimento ao cliente e ótima infraestrutura. A empresa tem prestígio conquistado pela visão de conjunto, pela responsabilidade e seriedade que encara seus projetos de venda e pela participação no desenvolvimento do mercado regional.
Sua atuação durante esses anos junto a região fez com que, além de oferecer produtos de ótima qualidade, no ramo de veículos novos e seminovos, também oportunizasse para os clientes novidades. Desta forma, foram ampliados os serviços com a venda de seguros, não só de veículos, como de todos os demais ramos, os quais buscam dinamismo no aumento de segurança e conforto dos clientes, já que é disponibilizado um corretor para melhor identificar as necessidades.
Hoje a CENTRAL - Veículos e Corretora de Seguros, está instalada estrategicamente na entrada principal da nossa cidade atendendo  seus clientes da melhor forma sempre oferecendo produtos e serviços que são uma referência em qualidade na região.
        </div>
    </div>
</div>
