h1, h2, h3, h4, h5{
    font-weight: bold;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
.pelicula{
    overflow: hidden;
    background: rgba(51, 51, 51, 0.4) !important;
}
.title {
    padding-top: 40px;
    padding-bottom: 40px;
}
.title h3{
    font-weight: 700;
}